<style>
    .postnewpost a {
        display: block;
        max-width: 200px;
        height: 40px;
        line-height: 40px;
        background: #7FFFD4FF;
        border-radius: 5px;
        text-align: center;
        margin: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .postnewpost a:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .postnewpost a:active {
        background: rgba(127, 255, 212, 0.1);
    }

    .postnewpost textarea {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: 5px;
        width: 50%;
        min-width: 400px;
        border: 0;
        margin: 10px;
        padding: 0 5px 0 5px;
        font-family: sans-serif;
    }
    #payload_post_title {
        font-weight: bold;
        font-size: 16pt;
        height: 50px;
        line-height: 50px;
    }
    #payload_post_body {
        height: 500px;
        padding: 5px;
    }
</style>
<div class="postnewpost">
    <script type="text/javascript">
        function send_post() {
            let title_t = document.getElementById('payload_post_title');
            let bod_t = document.getElementById('payload_post_body');
            document.getElementById('payload_inpt').value = "<title>" + title_t.value + "</title><body>" + bod_t.value + "</body>";
            document.getElementById('post_sender').submit();
        }
    </script>

    <textarea name="title" class="payload" id="payload_post_title" form="" placeholder="Your title here..."></textarea>
    <textarea name="body" class="payload" id="payload_post_body" form="" placeholder="Your body here..."></textarea>

    <form action="/dashboard/blogdev" method="post" id="post_sender">
        <div class="command_f">
            <input type="hidden" name="qtype" value="W" class="qtype">
            <input type="hidden" name="group" value="blogdev_write" class="group">
            <input type="hidden" name="username" value="{{username}}" class="username">
            <input type="hidden" name="command" value="createpost" class="command">
            <input type="hidden" name="payload" class="payload" id="payload_inpt">
        </div>
        <a onclick="send_post();" class="post_sender">Send Post</a>
    </form>
</div>