<table class="reqtable">
    <tr>
        <th>id</th>
        <th>username</th>
        <th>payload</th>
    </tr>
    {{#each entries as |entry|}}
    <tr>
        <td>{{entry.id}}</td>
        <td>{{entry.username}}</td>
        <td>{{entry.payload}}</td>
    </tr>
    {{/each}}
</table>