<script src="/static/chart.min.js" type="application/javascript"></script>

<div>
    <h3>{{chart_name}} {{chart_user}}</h3>
    <canvas id="StatChart"></canvas>
</div>

<script>
        {{{chart_data}}}

    const StatChart = new Chart(
            document.getElementById('StatChart'),
            config
    );
</script>