<html>
<head><title>Upload to Filer</title></head>
<link rel="stylesheet" type="text/css" href="/static/lite.css" media="screen" />
<link rel="icon" type="image/png" sizes="32x32" href="/rstatic/favicon32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/rstatic/favicon16.png">
<body>
<div class="uploader">
    <form target="/{{target}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>