body {
	font-family: "Courier New";
}

.devices {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D1FFF5;
  overflow-x: hidden;
  padding-top: 20px;
}

.info {
  margin-left: 160px;
  padding: 0px 10px;
}
.devitem a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.utable td {
  border-collapse: collapse;
  border-right: solid 1px #818181;
}

@media screen and (max-height: 450px) {
  .devices {padding-top: 15px;}
  .devitem a {font-size: 18px;}
}

