body {
	font-family: "Courier New";
}

.dashboard {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D1FFF5;
  overflow-x: hidden;
  padding-top: 20px;
}



.devrow, .inforow {
    display: table-row;
}

.devcell, .infocell {
    display: table-column;
}